{% extends 'front/base.html' %} {% load static %} {% block content %}
<div class="wrapper">
    <div class="profile-content section">
        <div class="container">
            <div class="row">
                <div class="profile-picture">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <br></br>
                        <div class="fileinput-new img-no-padding">
                            <img src="{% static 'front/img/faces/joe-gardner-2.jpg' %}" alt="...">
                        </div>
                        <div class="name">
                            <h4 class="title text-center">Endah Aulia Nisaulatifah<br /><small>Mahasiswi S1 Teknik Informatika NIM NIM 1911102441116 </small></h4><br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p> Semester 5 Program Studi S1 Teknik Informatika Universitas Muhammadiyah Kalimantan Timur. </p>
                    <br />
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
{% endblock content %}